$purple: #A739A0;
@mixin skylight_gradient($start: 0%) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
  background: -moz-linear-gradient(top, rgba(30,87,153,1) $start, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) $start,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(30,87,153,1) $start,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

body {
}

.main {
  h1 {
    color: $purple;
    span {
      font-size: 0.9rem;
    }
  }

  a {
    color: $purple;
    &:hover {
      text-decoration: underline;
      color: lighten($purple, 20%);
    }

    &:active {
      color: green;
    }
    &:visited{
    }
    &:focus {
    }
  }
}