<div class="card mb-4">
  <div class="card-header"><%= comment.author %></div>

  <div class="card-block">
    <p class="card-text"><%= comment.body %></p>
  </div>

  <div class="card-footer"><%= comment.created_at %></div>
</div>